@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}


body {
    width: 100%;
    overflow-x: hidden;
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 5px;

}

body::-webkit-scrollbar-track {
    background: #0c0c0c;
}

body::-webkit-scrollbar-thumb {
    background: #2e2e2e;
    border-radius: 20px;
}

.back-btn{
    position: fixed;
    top: 20px;
    left: 100px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;

}
.back-btn h4{
    font-weight: 500;
    display: none;
    transition: .5s;
    color: #587559;
}
.back-btn:hover h4{display: block;}
.back-btn:hover i{transform: translateX(-5px);}
#header h3{
    cursor: pointer;
}


#header{
    width: 100%;
    padding-bottom: 10px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}
#header h1{
    font-size: 125px;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    background: linear-gradient(to bottom, #0d6b10, #70c773,#cee9cf,#ffffff );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#header h3{
    font-size: 25px;
    font-weight: 400;
    margin: 15px;
    text-align: center;
}
#header .main-img{
    box-shadow: none;
}
#header video{
    width: 100vw;
    object-fit: cover;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden
}
#header img{
    width: 60vw;
    margin: 30px auto 120px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#header h2{
    font-weight: 500;
    text-align: center;
}

@media only screen and (max-width: 420px ){
    .back-btn{
        position: fixed;
        top: 10px;
        left: 20px;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        gap: 20px;
        text-decoration: none;
    
    }
    .back-btn h4{
        font-weight: 500;
        display: none;
        transition: .5s;
        color: #587559;
    }
    .back-btn:hover h4{display: block;}
    .back-btn:hover i{transform: translateX(-5px);}
    #header h3{
        cursor: pointer;
    }
    
    
    #header{
        width: 100%;
        padding-bottom: 10px;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
    }
    #header h1{
        font-size: 65px;
        font-weight: 600;
        line-height: 100%;
        text-align: center;
        background: linear-gradient(to bottom, #0d6b10, #70c773,#cee9cf,#ffffff );
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    #header h3{
        font-size: 25px;
        font-weight: 400;
        margin: 15px;
        text-align: center;
    }
    #header .main-img{
        box-shadow: none;
    }
    #header video{
        width: 100vw;
        object-fit: cover;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden
    }
    #header img{
        width: 60vw;
        margin: 30px auto 120px auto;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #header h2{
        font-weight: 500;
        text-align: center;
    }
}